@model ManageYourBudget.Models.EditExpenditureViewModel

@{
    ViewBag.Title = "Edit Extenditure";
}

@using (Html.BeginForm("Edit", "Expenditure", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.HiddenFor(m => m.UserId)
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">@ViewBag.Title</h2>
            <hr />
            <div class="panel panel-default">
                <div class="panel-heading text-center">@Html.LabelFor(m => m.Title, new { @class = "control-label" })</div>
                <div class="panel-body">
                    <div>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control full-width", autocomplete = "off" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.Title)
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">@Html.LabelFor(m => m.Description, new { @class = "control-label" })</div>
                <div class="panel-body">
                    <div>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control full-width", autocomplete = "off" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">@Html.LabelFor(m => m.Amount, new { @class = "control-label" })</div>
                <div class="panel-body">
                    <div>
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control full-width right", type = "number", step = 0.01, min = "0.00" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.Amount)
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">@Html.LabelFor(m => m.Date, new { @class = "control-label" })</div>
                <div class="panel-body">
                    <div>
                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control datepicker full-width right", @readonly = "true", @Value = Model.Date.ToShortDateString() })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.Date)
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">@Html.Label("Category", new { @class = "control-label" })</div>
                <div class="panel-body">
                    <div>
                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn-default button-full" value="Edit" />
            </div>
        </div>
    </div>
}